:root {
    --yellow: #FFD60A;
    --blue: #000814;
}

/* GENERAL CSS */
* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--blue);
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--yellow);
}

h3 {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

/* GRID VIEW FOR DESKTOP AND LAPTOP  */
.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.grid-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* HOMEPAGE FOR DESKTOP AND LAPTOP */
header {
    background-color: var(--yellow);
    height: 4vh;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
}

.phone,
.address,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.header-p {
    font-size: 12px;
}

nav {
    background-color: var(--blue);
    height: 15vh;
    position: relative;
}

.links {
    position: absolute;
    right: 7rem;
    top: 45%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav li a {
    color: white;
    font-size: 16px;
}

nav li a:hover {
    color: var(--yellow);
}

nav button {
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2rem;
    width: 8rem;
    margin-top: -0.4rem;
    transition-duration: 0.4s;
}

nav button a {
    color: var(--blue);
    font-size: 16px;
    font-weight: 600;
}

nav button:hover {
    height: 2.3rem;
    width: 8.3rem;
}

.hero-1 {
    height: 81vh;
    position: relative;
    background-image: url(./img/home-hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.burger-menu,
.burger-menu-content,
.close-burger,
.burger-links {
    display: none;
}

.hero-text {
    z-index: 3;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    line-height: 0.3rem;
    justify-content: center;
    align-items: center;
    z-index: 3;

}

.line {
    height: 0.1rem;
    background-color: white;
    width: 30rem;
}

.down {
    height: 4rem;
    width: 4rem;
    background-color: black;
    opacity: 0.7;
    color: white;
    border: 1px solid white;
    margin-top: 5rem;
    border-radius: 5rem;
    z-index: 3;
    transition-duration: 0.4s;
}

.down a {
    color: white;
}
.down i {
    font-size: 1.1rem;
}

.down:hover {
    background-color: var(--yellow);
    opacity: 1;
}

.hero-2 {
    padding: 3rem 0;
}

.hero-2-text {
    padding: 2rem 3rem 2rem 8rem;
    display: flex;
    flex-direction: column;
}

.hero-2-text h3 {
    color: var(--yellow);
}

.hero-2-text button {
    color: var(--blue);
    background-color: var(--yellow);
    height: 2.5rem;
    font-size: 15px;
    margin-top: 1rem;
    transition-duration: 0.4s;
}

.hero-2-text button:hover {
    background-color: var(--blue);
    color: var(--yellow);
}

.hero-2-img {
    padding: 2rem 8rem 2rem 3rem;
}

.img {
    max-width: 100%;
    height: 100%;
    background-image: url(./img/home-hero-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
}

.hero-3 {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-image: url(./img/home-hero-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 3rem 8rem;
}

.hero-3-text {
    text-align: center;
    line-height: 1rem;
    z-index: 3;
}

.hero-3-text h2 {
    color: var(--yellow);
    padding-right: 1.5rem;
}

.hero-3-text h4 {
    color: #ffffff;
}

.servizi {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    z-index: 3;
}

.pulizie,
.ristrutturazioni,
.traslochi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#servizi-p {
    color: var(--yellow);
    line-height: 1.5rem;
}

.pulizie-img,
.ristrutturazioni-img,
.traslochi-img {
    height: 9rem;
    width: 9rem;
    border: 1px solid var(--yellow);
    border-radius: 5rem;
}

.pulizie-img {
    background-image: url(./img/pulizie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ristrutturazioni-img {
    background-image: url(./img/ristr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.traslochi-img {
    background-image: url(./img/traslochi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: var(--blue);
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    padding: 2rem 8rem;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    color: var(--yellow);
}

.footer-link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

.footer-link p,
.footer-link a {
    color: #ffffff;
}

.footer-line {
    height: 1px;
    width: 100%;
    background-color: var(--yellow);
}

@media only screen and (max-width: 768px) {

    p {
        font-size: 14px;
        font-weight: 400;
        color: var(--blue);
    }
    
    h1 {
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
    }
    
    h2 {
        font-size: 25px;
        font-weight: 500;
        color: var(--yellow);
    }
    
    h3 {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
    }
    
    h4 {
        font-size: 18px;
        font-weight: 400;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5,
    .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
    .grid-11, .grid-12 {
        display: grid;
        grid-template-columns: 1fr;
    }
    header, nav {
        display: none;
    }

    .hero-1 {
        height: 50vh;
        display: flex;
    }

    .hero-text {
        line-height: 2rem;
        text-align: center;
        padding: 0 5rem;
        max-width: 100%;
    }
    
    .burger-menu {
        display:flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        left: 2.5rem;
        top: 3rem;
        background-color: transparent;
        z-index: 3;
    }
    
    .burger-line {
        z-index: 3;
        width: 2rem;
        height: 2px;
        background-color: #ffffff;
    }

    .down {
        display: none;
    }

    .hero-2 {
        padding: 3rem 0;
    }
    
    .hero-2-text {
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
    }

    
    .hero-2-img {
        padding: 2rem 5rem;
        margin-top: 2rem;
        height: auto;
    }
    
    .img {
        height: 30rem;
    }

    .servizi {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        z-index: 3;
    }
    
    #servizi-p {
        color: var(--yellow);
        line-height: 1.5rem;
        margin-top: -0.5rem;
    }
    
    .footer-link ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 2rem;
        margin-top: -1rem;
    }
    
   .fi {
        margin-top: -1rem;
   }

    .burger-menu-content-displayed {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 45vw;
        background-color: var(--blue);
        color: white;
        z-index: 4;
        height: 100vh;
        padding: 0 5rem;
    }

    .close-burger-displayed {
        display: block;
        background-color: transparent;
        margin-top: 2rem;
        margin-left: 7rem;
    }

    .close-burger-displayed i {
        color: white;
        font-size: 20px;
    }

    .burger-links-displayed {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 4rem;
    }

    .burger-links-displayed a {
        color: white;
        font-size: 16px;
    }

    .cs-hero-1 {
        height: 50vh;
    }

    .cs-hero-1-text {
        margin-top: 5rem;
    }

    .cs-hero-3 {
        padding: 0;
    }

    .cs-hero-3 h4 {
        width: 100%;
    }
}



.cs-hero-1 {
    height: 81vh;
    max-width: 100%;
    width: 100%;
    background-image: url(./img/chi-siamo-hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 5rem 0 0 5rem;
    z-index: 1;
}

.cs-hero-1-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.down-cs {
    margin-left: 40%;
}

.cs-hero-2-text {
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
}

.cs-hero-2-text h2 {
    color: var(--yellow);
}

.cs-hero-2-text p {
    margin-top: -0.5rem;
    line-height: 1.5rem;
}

.cs-hero-3 {
    background-image: url('./img/chi-siamo-hero-2.jpg');
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 2rem 10rem;
}

.cs-hero-3 span {
    color: var(--yellow);
}

.cs-hero-3 h4 {
    color: white;
    text-align: center;
}

.servizi-hero-1 {
    height: 81vh;
    max-width: 100%;
    width: 100%;
    background-image: url(./img/servizi-hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 5rem 0 0 5rem;
    z-index: 1;
}

.servizi-hero-2 {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-grid-container {
    gap: 3rem;
    margin-top: 1rem;
}

.down-s {
    margin-top: 2rem;
    margin-left: 40%;
}

.s-grid-cont {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
}

.s-grid-cont:hover {
    transform: scaleX(1.1);
    
}

.s-image-1,
.s-image-2,
.s-image-3 {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 16rem;
}

.s-image-1 {
    background-image: url('./img/ristr.jpg');
}

.s-image-2 {
    background-image: url('./img/pulizie.jpg');
}

.s-image-3 {
    background-image: url('./img/traslochi.jpg');
}

.s-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.s-grid-cont h5 {
    margin-top: -1rem;
}

.s-grid-cont ul {
    margin-top: -0.5rem;
    line-height: 2rem;
}

#soluzioni {
    color: black;
}

.servizi-hero-2 h5 {
    margin-top: -0.5rem;
}

.s-button {
    text-align: center;
    border-radius: 4px;
    background-color: var(--blue);
    color: white;
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
    transition-duration: 0.4s;
}

.s-button:hover {
    background-color: var(--yellow);
    color: var(--blue);
}